/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

 nav.nav-top .menu > .menu-top__item ul:before {
	display: none !important;
} 
.line_top {
	background: none;
}
.ie-back {
	display: block;
	img {
		display: block;
	}
}