// Compass
// @import "mix.scss";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities";



/* -------- Переменные -------- */
$base-color: #39c9da;
$base-color2: #4b4a4b;

$font-color-base: #a8a8a8;
$font-color-dark: #504f50;
$font-color-light: #504f50;
$font-color-white: #fff;

// ширина окна
$width-scr-1: 1200px;
$width-scr-2: 1024px;
$width-scr-3: 768px;
$width-scr-4: 600px;

// ширина контента
$width-con-1: $width-scr-1 - 30;
$width-con-2: $width-scr-2 - 30;
$width-con-3: $width-scr-3 - 30;
$width-con-4: $width-scr-4 - 30;

// фоны
$back1: #fafafa;
$back2: #f4f4f4;



/* -------- Сброс настроек -------- */
@import "compass/reset";



/* -------- Шрифт -------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700);


// Базовые настройки
$base-font-size: 14px;
html, body {
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: $font-color-base;

	background: $back1;
	// height: 100%;
}

h1 {
	@include adjust-font-size-to(20px, $from-size: $base-font-size);
	text-transform: uppercase;
	font-weight: 700;
	color: $font-color-dark;
}

h2 {
	@include adjust-font-size-to(14px, $from-size: $base-font-size);
	font-weight: 700;
	text-transform: uppercase;
	color: $font-color-dark;
}

p {
	@include adjust-font-size-to(14px, $from-size: $base-font-size);
	line-height: 1.4em;
	margin-bottom: 22px;
}

p.top {
	@include adjust-font-size-to(22px, $from-size: $base-font-size);
	line-height: 1.3em;
	// font-weight: 400;
}

a {
	color: $font-color-dark;
	text-decoration: none;
	@include transition-property(color, border-bottom-color);
	@include transition-duration(0.2s, 0.2s);
	@include transition-timing-function(ease-in-out, ease-in-out);
	@include transition-delay(initial, initial);
	&:hover {
		color: $base-color;
	}
}

b {
	font-weight: 700;
	color: $font-color-dark;
}

/******  Импорты  ******/
// отдельные элементы
@import "elements";


/* ****************** мобильное меню ****************** */
.warp {
	position: relative;
}

// меню
.mobile-menu {
	position: fixed;
	left: -250px;
	top: 0;
	bottom: 0;
	width: 250px;
	height: 100%;
	background: $base-color2;
	z-index: 10000;
	overflow-x: auto;
	overflow-y: visible;
	a {
		color: #bbb;
	}
	.menu {
		// общие свойства пунктов
		li a {
			display: block;
			position: relative;
			padding: 15px;
			border-top: 1px solid #565656;
		}

		// первый уровень
		& > li {
			&:first-child a {border: none;}
			& > a {color: $font-color-white }

			// второй ур. и дальше
			ul {
				padding-left: 20px;
			}
		}

	}
}

// кнопка
.open-but {
	display: none;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 90px;
	height: 60px;
	cursor: pointer;
	&:before {
		background: rgba(192, 192, 192, 0.75);
		border-radius: 6px;
		color: #fff;
		content: "\f0c9";
		display: block;
		font-size: 16px;
		height: 40px;
		left: 10px;
		position: absolute;
		text-align: center;
		top: 10px;
		width: 65px;
		@include adjust-font-size-to(20px);
		line-height: 2em;
	}
	.fa {
		display: none;
	}
}




/* ****************** ШАПКА ****************** */
header {
	position: absolute;
	width: 100%;
	height: 96px;
	// @include clearfix;
	z-index: 200;
	top: 0;
	left: 0;
	@include animation(none);
	-ms-animation: none;
	-o-animation: none;
}

// выпадающее меню
.header_scroll {
	top: 0;
	left: 0;
	margin-top: 0px;
	position: fixed;
	background: #444;
	@include animation(movement 0.5s);
	-ms-animation: movement 0.5s;
	-o-animation: movement 0.5s;
	height: 66px !important;
	nav.nav-top .menu > .menu-top__item {
		// высота уменьшена
		& > a {
		line-height: 4.4em !important;
		}
		// выпадающее меню подвинуть выше
		& > ul {
			top: 85px !important;
		}
	}
	// уменьшить отступы логотипа
	.header__logo {
		padding: 13px;
	}
}

@-webkit-keyframes 'movement' {
	0% {margin-top: -70px;}
   100% {margin-top: 0;}
}
@-moz-keyframes 'movement' {
	0% {margin-top: -70px;}
   100% {margin-top: 0;}
}
@-ms-keyframes 'movement' {
	0% {margin-top: -70px;}
   100% {margin-top: 0;}
}
@-o-keyframes 'movement' {
	0% {margin-top: -70px;}
   100% {margin-top: 0;}
}
@keyframes 'movement' {
	0% {margin-top: -70px;}
   100% {margin-top: 0;}
}

.header__logo {
	@include adjust-font-size-to(33px);
	padding: 25px;
	margin-left: 56px;
	overflow: hidden;
	font-size: 2em;
	color: $base-color;
	float: left;
	font-weight: 700;
}


// меню 
nav {
	float: right;
	height: inherit;
}

nav.nav-top .menu {
	height: inherit;
	position: relative;
	margin-right: 57px;

	& > .menu-top__item {
		@include inline-block;
		position: relative;
		
		& > a {
			color: #fff;
			text-transform: uppercase;
			@include adjust-font-size-to(15px); 
			font-weight: 700;
			padding: 7px 20px;
			line-height: 6.4em;
			// border: 1px solid black;
			// margin: 0 10px;
			@include border-radius(6px);
			@include transition-property(background-color, color);
			@include transition-duration(0.2s, 0.2s);
			@include transition-timing-function(ease-in-out, ease-in-out);
			@include transition-delay(initial, initial);
			// для IE. Ссылка относительно html файла
			behavior: url(pie/PIE.htc);
		} 

		&:hover {
			cursor: pointer;
		}

		&:hover > a {
			background-color: rgba(153, 153, 153, 0.25);
		}

		&:hover > ul {
			display: block;
		}

		// Второй уровень
		ul {
			display: none;
			position: absolute;
			background: #fff;
			top: 90px;
			right: 0px;
			z-index: 1000;
			text-transform: uppercase;
			padding: 10px 0;
			width: 210px;
			@include box-shadow(0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5));
			@include border-radius(6px);
			// для IE. Ссылка относительно html файла
			behavior: url(pie/PIE.htc);
			
			// уголок
			&:before {
				transform: rotate(45deg);
				background: #fff;
				border:1px solid  rgba(229, 229, 229, 0.5);
				border-bottom: 0;
				border-right: 0;
				// для IE. Ссылка относительно html файла
				behavior: url(pie/PIE.htc);
				@include box-shadow(-0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015));
				content: '';
				display: block;
				height: 13px;
				position: absolute;
				right: 24px;
				top: -7px;
				width: 13px;
				z-index: 0;
			}
			// заполняет пробел между меню
			&:after {
				display: block;
				position: absolute;
				content: '';
				width: 100%;
				height: 20px;
				top: -20px;
				left: 0;
				// background: #fff;
			}

			li {position: relative;}
			
			// все пункты меню ниже 2-го уровня
			li a{
				border-top: 1px solid #f2f2f2;
				padding: 10px 19px;
				color:inherit;
				display: block;
				@include adjust-font-size-to(15px);
				font-weight: 700;
			}

			li:first-child a {
				border: none;
			}

			li:hover > a {
				background: $base-color;
				color: #fff;
			}

			// 3-й и остальные уровни
			li:hover > ul {display: block;}
			li ul {
				display: none;
				position: absolute;
				left: -210px;
				top: -10px;
				margin: 0;
				&:before {display: none}
			}
		}
	}
	
	// галочка выпадающего меню
	.menu-top__item_dropdown i {
		@include adjust-font-size-to(14px);
		color: rgba(255, 255, 255, 0.75);
		margin-right: 10px;
	}
}


/* ****************** Верх ****************** */

.line_top {
	width: 100%;
	// height: 532px;
	background-image: url('../../img/header.jpg') !important;	
	// для ie
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/header.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/header.jpg', sizingMethod='scale')";
	background-attachment: fixed;
	background-color: #666;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	// filter: brightness(70%);
	// -webkit-filter: brightness(70%);
	// -moz-filter: brightness(70%);
	// -o-filter: brightness(70%);
	// -ms-filter: brightness(70%);

	color: white;
	position: relative;
	@include box-sizing(border-box);
	text-align: center;
	padding: 255px 0 100px 0 !important;
}
.ie-back {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	img {
		position: relative;
		width: 100%;
		display: none;
	}
}

.header-title {
	text-transform: uppercase;
	@include adjust-font-size-to(33px);
	line-height: 1.355em;
	font-weight: 700;
	width: 530px;
	margin: 0 auto 32px;
}


/* ****************** About us ****************** */
.line_about {
	padding: 57px 0 50px !important;
}

.about-img {
	display: block;
	position: absolute;
	width: 48.80341%;
	bottom: 0;
	left: 0;

	img {
		position: relative;
		display: block;
		width: 100%;
	}
}

// правая колонка с описанием
.about-descr {
	width: 48.6%;
	float: right;
}
.about-descr__title {
	padding-bottom: 17px;
	margin-bottom:25px;
	position: relative;
	&:after {
		content: '';
		height: 2px;
		width: 100px;
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		background: $base-color;
	}
}

.about-descr__text .base-but {
	margin-top: 15px;
}

/* ****************** Portfolio ****************** */
.line_portfolio {
	padding: 56px 0 20px !important;
	background: $back2;
}

.port-items {
	width: 102.56410%
}

.port-item {
	float: left;
	width: 30.83333%;
	margin-right: 2.5%;
	@include inline-block;
	margin-bottom: 40px;
}

// картинка
.port-item__img {
	position: relative;
	width: 100%;
	height: auto;
	img {
		display: block;
		position: relative;
		width: 100%;
	}
	&:after {
		content: "";
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background: $base-color2;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		/* IE 8 */
  		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		z-index: 10;
	}
	// кнопка read more
	.port-item__more {
		top: 50%; left: 50%; 
		width: 107px;
		height: 20px;
		margin: -25px 0 0 -83.5px;
		position: absolute !important;
		z-index: 20;
		display: none;
	}
	&:hover {cursor: pointer;}
	&:hover .port-item__more, &:hover:after {
		display: block !important;
	}

}

// полоса с информацией
.port-item__info {
	border: 1px solid #e8e8e8;
	border-top: none;
	height: 60px;
	vertical-align: middle;
	@include box-sizing(border-box);
	padding: 0 10px;
	background: white;
	white-space: nowrap;
	word-wrap: normal;
	// @include border-bottom-radius(6px);
	// //border для IE. Ссылка относительно html файла
	// behavior: url(pie/PIE.htc);
	.post-item__title {
		float: left;
		width: 70%;
		overflow: hidden;
	}
	.post-item__cat {
		float: right;
		width: 29%;
		overflow: hidden;
		text-align: right;
		font-style: italic;
		color: $font-color-base;
	}
	a {
		line-height: 4.2em;
	}
}

/* ****************** services ****************** */

.line_services {
	padding: 45px 0 65px !important;
}

// список сервисов
.services {
	padding: 8px 0 1px;
}
.services .services__item {
	@include transition-property(background-color, color);
	@include transition-duration(0.2s, 0.2s);
	@include transition-timing-function(ease-in-out, ease-in-out);
	@include transition-delay(initial, initial);
	width: 23.4364%;
	margin-right: 2.0848%;
	&:last-child {margin: 0}
	@include inline-block;
	vertical-align: top;
	background: #ffffff;
	text-align: center;
	color: $font-color-dark;
	// контейнер
	.srv-warp {
		border: 1px solid #e2e2e2;
		padding: 25px 15px 17px;
		height: 100%;
		width: 100%;
		@include box-sizing(border-box);
	}
	// иконка
	.srv-icon i {
		color: $base-color;
		@include adjust-font-size-to(33px);
		line-height: 1em;
	}
	// заголовок
	.srv-title {
		margin: 18px 0 29px;
		padding-bottom: 11px;
		position: relative;
		// разделитель
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 75px;
			height: 1px;
			background: $font-color-base;
			bottom: 0;
			margin-left: -35.5px;
			left: 50%;
		}
	}
	// описание
	.srv-descr p {
		margin-bottom: 27px;
	}
	// кнопка
	.srv-more:hover {
		color: $font-color-dark;
	}
	
	&:hover .srv-title:after {
		background: $base-color2;
	}
	&:hover {
		background: $base-color;
		color: $font-color-white;
		.srv-icon i {color: $font-color-white;}
		.srv-title h1 {color: $font-color-white;}
		.srv-descr p {color: $font-color-white;}
	}

}

.srv-more {
	@extend .base-but;
	padding: 11px 27px;
	color: white;
	background: $base-color2;
	text-transform: none;
	@include adjust-font-size-to(14px);
	line-height: 1em;
	font-weight: 400;
	@include box-sizing(border-box);
	@include border-radius(2px);
	&:hover {
		background: white;
		color: $base-color2;
	}
}


/* ****************** contact us ****************** */
.line_contact {
	background: #f4f4f4;
	padding-top: 54px;
	.line__descr {
		margin-bottom: 51px;
	}
} 

// описание
.contact-content {
	float: left;
	width: 48.8034%;
}

// форма
.contact-form {
	float: right;
	width: 48.547%;
	
	// поля
	.name, .mail {
		width: 47.5352%;
	}
	.name {
		float: left;
	}
	.mail {
		float: right;
	}
	.subject, textarea {
		width: 100%;
	}
	textarea {
		min-height: 150px;
		max-height: 200px;
	}
	.sub {
		float: right;
	}

	// отступы полей
	input[type="text"], textarea {
		margin: 5px 0 23px;
	}

}


/* ****************** footer ****************** */

footer {
	background: $base-color;
	height: 50px;
	text-align: center;
	color: $font-color-white;
	padding: 17px;
	@include box-sizing(border-box);
}



/* ******************  ****************** */

@media screen and (max-width: $width-scr-1) {
	.base_con_width {
		width: $width-con-2;
	}
}
@media screen and (max-width: $width-scr-2) {
	.base_con_width {
		width: $width-con-3;
	}
	// скрыть вертикальное меню
	header, .header_scroll {
		visibility: hidden;
		opacity: 0;
	}
	// отобразить кнопку
	.open-but {
		display: block;
	}
	.fa {
		display: inline-block;
	}
	// заголовки в сервисах поменьше
	.services .srv-title h1 {
		@include adjust-font-size-to(16px);
	} 
	
	// описание проектов
	.port-item__info .post-item__title {
		@include adjust-font-size-to(12px);
		line-height: 5em;
		width: 60%;
	}
	.port-item__info .post-item__cat {
		width: 39%;
	}
}
@media screen and (max-width: $width-scr-3) {
	.base_con_width {
		width: 90%;
	}

	// заголовок в топе
	.header-title {
		@include adjust-font-size-to(28px);
		width: auto;
	}
	.line_top {
		padding: 145px 0 100px 0 !important;
	}

	// about
	.about-img {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom: 20px;
	}
	.about-descr {
		width: 100%;
		float: none;
	}

	// portfolio
	.port-items {
		width: 103%;
	}
	.port-item {
		width: 47%;
		margin-right: 3%;
		margin-bottom: 30px;
	}

	// services
	.services {
		padding: 8px 0 1px;
		width: 103%;
		overflow: visible;
	}
	.services .services__item {
		width: 47%;
		margin-right: 3%;
		margin-bottom: 20px;
	}

	// contact us 
	.contact-content, .contact-form {
		float: none;
		width: 100%;
	}
	.contact-content {
		margin-bottom: 20px;
	}

	// авто ширина описания секций
	.line__descr span {
		width: auto;
	}

}
@media screen and (max-width: $width-scr-4) {
	// portfolio
	.port-items {
		width: 100%;
	}
	.port-item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	// services
	.services {
		padding: 8px 0 1px;
		width: 100%;
		overflow: visible;
	}
	.services .services__item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	// поля формы
	.contact-form .name, .contact-form .mail {
		width: 100%;
		float: none;
	}
}
