/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, ../sass/ie.scss */
nav.nav-top .menu > .menu-top__item ul:before {
  display: none !important;
}

/* line 10, ../sass/ie.scss */
.line_top {
  background: none;
}

/* line 13, ../sass/ie.scss */
.ie-back {
  display: block;
}
/* line 15, ../sass/ie.scss */
.ie-back img {
  display: block;
}
