@charset "UTF-8";
/* -------- ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ -------- */
/* -------- ╨б╨▒╤А╨╛╤Б ╨╜╨░╤Б╤В╤А╨╛╨╡╨║ -------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700);
/* line 5, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Programms/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* -------- ╨и╤А╨╕╤Д╤В -------- */
/* line 46, ../sass/main.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #a8a8a8;
  background: #fafafa;
}

/* line 56, ../sass/main.scss */
h1 {
  font-size: 1.42857em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: #504f50;
}

/* line 63, ../sass/main.scss */
h2 {
  font-size: 1em;
  line-height: 1.71429em;
  font-weight: 700;
  text-transform: uppercase;
  color: #504f50;
}

/* line 70, ../sass/main.scss */
p {
  font-size: 1em;
  line-height: 1.71429em;
  line-height: 1.4em;
  margin-bottom: 22px;
}

/* line 76, ../sass/main.scss */
p.top {
  font-size: 1.57143em;
  line-height: 2.18182em;
  line-height: 1.3em;
}

/* line 82, ../sass/main.scss */
a {
  color: #504f50;
  text-decoration: none;
  -moz-transition-property: color, border-bottom-color;
  -o-transition-property: color, border-bottom-color;
  -webkit-transition-property: color, border-bottom-color;
  transition-property: color, border-bottom-color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out;
  -moz-transition-delay: initial, initial;
  -o-transition-delay: initial, initial;
  -webkit-transition-delay: initial, initial;
  transition-delay: initial, initial;
}
/* line 89, ../sass/main.scss */
a:hover {
  color: #39c9da;
}

/* line 94, ../sass/main.scss */
b {
  font-weight: 700;
  color: #504f50;
}

/******  ╨Ш╨╝╨┐╨╛╤А╤В╤Л  ******/
/* ****************** ╨╛╤В╨┤╨╡╨╗╤М╨╜╤Л╨╡ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Л ****************** */
/* line 3, ../sass/elements.scss */
.line {
  width: 100%;
  padding: 60px 0 50px 0;
  border-bottom: 1px solid #e8e8e8;
}
/* line 7, ../sass/elements.scss */
.line .line__con {
  position: relative;
}

/* line 14, ../sass/elements.scss */
.base-but, .base-but-border, .srv-more {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out;
  -moz-transition-delay: initial, initial;
  -o-transition-delay: initial, initial;
  -webkit-transition-delay: initial, initial;
  transition-delay: initial, initial;
  font-size: 1.42857em;
  line-height: 1.2em;
  line-height: 1em;
  font-weight: 700;
  background-color: #39c9da;
  -pie-background: #39c9da;
  color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 18px 40px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 34, ../sass/elements.scss */
.base-but:hover, .base-but-border:hover, .srv-more:hover {
  color: #39c9da;
  background: #fff;
}

/* line 40, ../sass/elements.scss */
.base-but-border {
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 15px 30px;
  border: 1px solid white;
  background: none;
  text-transform: none;
}
/* line 48, ../sass/elements.scss */
.base-but-border:hover {
  background: white;
  color: #4b4a4b;
}

/* line 55, ../sass/elements.scss */
.base_con_width {
  width: 1170px;
  margin: auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 63, ../sass/elements.scss */
.line__title {
  margin-bottom: 14px;
  text-align: center;
}

/* line 67, ../sass/elements.scss */
.line__descr {
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 35px;
  overflow: hidden;
}
/* line 72, ../sass/elements.scss */
.line__descr span {
  width: 520px;
  display: block;
  margin: auto;
}

/* line 80, ../sass/elements.scss */
.title-underline {
  padding-bottom: 17px;
  margin-bottom: 25px;
  position: relative;
}
/* line 84, ../sass/elements.scss */
.title-underline:after {
  content: '';
  height: 2px;
  width: 100px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background: #39c9da;
}

/* line 97, ../sass/elements.scss */
input[type="text"], input[type="email"], textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  color: #a8a8a8;
  padding: 15px;
}
/* line 102, ../sass/elements.scss */
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  color: #504f50;
  outline: none;
}

/* line 107, ../sass/elements.scss */
input[type="submit"] {
  border: none;
  font-weight: 700;
}

/* ****************** ╨╝╨╛╨▒╨╕╨╗╤М╨╜╨╛╨╡ ╨╝╨╡╨╜╤О ****************** */
/* line 105, ../sass/main.scss */
.warp {
  position: relative;
}

/* line 110, ../sass/main.scss */
.mobile-menu {
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background: #4b4a4b;
  z-index: 10000;
  overflow-x: auto;
  overflow-y: visible;
}
/* line 121, ../sass/main.scss */
.mobile-menu a {
  color: #bbb;
}
/* line 126, ../sass/main.scss */
.mobile-menu .menu li a {
  display: block;
  position: relative;
  padding: 15px;
  border-top: 1px solid #565656;
}
/* line 135, ../sass/main.scss */
.mobile-menu .menu > li:first-child a {
  border: none;
}
/* line 136, ../sass/main.scss */
.mobile-menu .menu > li > a {
  color: #fff;
}
/* line 139, ../sass/main.scss */
.mobile-menu .menu > li ul {
  padding-left: 20px;
}

/* line 148, ../sass/main.scss */
.open-but {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 60px;
  cursor: pointer;
}
/* line 157, ../sass/main.scss */
.open-but:before {
  background: rgba(192, 192, 192, 0.75);
  border-radius: 6px;
  color: #fff;
  content: "\f0c9";
  display: block;
  font-size: 16px;
  height: 40px;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 65px;
  font-size: 1.42857em;
  line-height: 1.2em;
  line-height: 2em;
}
/* line 173, ../sass/main.scss */
.open-but .fa {
  display: none;
}

/* ****************** ╨и╨Р╨Я╨Ъ╨Р ****************** */
/* line 182, ../sass/main.scss */
header {
  position: absolute;
  width: 100%;
  height: 96px;
  z-index: 200;
  top: 0;
  left: 0;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
  -ms-animation: none;
  -o-animation: none;
}

/* line 196, ../sass/main.scss */
.header_scroll {
  top: 0;
  left: 0;
  margin-top: 0px;
  position: fixed;
  background: #444;
  -moz-animation: movement 0.5s;
  -webkit-animation: movement 0.5s;
  animation: movement 0.5s;
  -ms-animation: movement 0.5s;
  -o-animation: movement 0.5s;
  height: 66px !important;
}
/* line 208, ../sass/main.scss */
.header_scroll nav.nav-top .menu > .menu-top__item > a {
  line-height: 4.4em !important;
}
/* line 212, ../sass/main.scss */
.header_scroll nav.nav-top .menu > .menu-top__item > ul {
  top: 85px !important;
}
/* line 217, ../sass/main.scss */
.header_scroll .header__logo {
  padding: 13px;
}

@-webkit-keyframes 'movement' {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes 'movement' {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@-ms-keyframes 'movement' {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@-o-keyframes 'movement' {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes 'movement' {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
/* line 243, ../sass/main.scss */
.header__logo {
  font-size: 2.35714em;
  line-height: 1.45455em;
  padding: 25px;
  margin-left: 56px;
  overflow: hidden;
  font-size: 2em;
  color: #39c9da;
  float: left;
  font-weight: 700;
}

/* line 256, ../sass/main.scss */
nav {
  float: right;
  height: inherit;
}

/* line 261, ../sass/main.scss */
nav.nav-top .menu {
  height: inherit;
  position: relative;
  margin-right: 57px;
}
/* line 266, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
/* line 270, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.07143em;
  line-height: 1.6em;
  font-weight: 700;
  padding: 7px 20px;
  line-height: 6.4em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out;
  -moz-transition-delay: initial, initial;
  -o-transition-delay: initial, initial;
  -webkit-transition-delay: initial, initial;
  transition-delay: initial, initial;
  behavior: url(pie/PIE.htc);
}
/* line 288, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item:hover {
  cursor: pointer;
}
/* line 292, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item:hover > a {
  background-color: rgba(153, 153, 153, 0.25);
}
/* line 296, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item:hover > ul {
  display: block;
}
/* line 301, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul {
  display: none;
  position: absolute;
  background: #fff;
  top: 90px;
  right: 0px;
  z-index: 1000;
  text-transform: uppercase;
  padding: 10px 0;
  width: 210px;
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 #fff, inset 0 0 0 1px rgba(229, 229, 229, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  behavior: url(pie/PIE.htc);
}
/* line 317, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul:before {
  transform: rotate(45deg);
  background: #fff;
  border: 1px solid rgba(229, 229, 229, 0.5);
  border-bottom: 0;
  border-right: 0;
  behavior: url(pie/PIE.htc);
  -moz-box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
  -webkit-box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
  box-shadow: -0.25em -0.125em 0.125em 0 rgba(0, 0, 0, 0.015);
  content: '';
  display: block;
  height: 13px;
  position: absolute;
  right: 24px;
  top: -7px;
  width: 13px;
  z-index: 0;
}
/* line 336, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  top: -20px;
  left: 0;
}
/* line 347, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li {
  position: relative;
}
/* line 350, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li a {
  border-top: 1px solid #f2f2f2;
  padding: 10px 19px;
  color: inherit;
  display: block;
  font-size: 1.07143em;
  line-height: 1.6em;
  font-weight: 700;
}
/* line 359, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li:first-child a {
  border: none;
}
/* line 363, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li:hover > a {
  background: #39c9da;
  color: #fff;
}
/* line 369, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li:hover > ul {
  display: block;
}
/* line 370, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li ul {
  display: none;
  position: absolute;
  left: -210px;
  top: -10px;
  margin: 0;
}
/* line 376, ../sass/main.scss */
nav.nav-top .menu > .menu-top__item ul li ul:before {
  display: none;
}
/* line 382, ../sass/main.scss */
nav.nav-top .menu .menu-top__item_dropdown i {
  font-size: 1em;
  line-height: 1.71429em;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 10px;
}

/* ****************** ╨Т╨╡╤А╤Е ****************** */
/* line 392, ../sass/main.scss */
.line_top {
  width: 100%;
  background-image: url("../../img/header.jpg") !important;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/header.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/header.jpg', sizingMethod='scale')";
  background-attachment: fixed;
  background-color: #666;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 255px 0 100px 0 !important;
}

/* line 416, ../sass/main.scss */
.ie-back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 424, ../sass/main.scss */
.ie-back img {
  position: relative;
  width: 100%;
  display: none;
}

/* line 431, ../sass/main.scss */
.header-title {
  text-transform: uppercase;
  font-size: 2.35714em;
  line-height: 1.45455em;
  line-height: 1.355em;
  font-weight: 700;
  width: 530px;
  margin: 0 auto 32px;
}

/* ****************** About us ****************** */
/* line 442, ../sass/main.scss */
.line_about {
  padding: 57px 0 50px !important;
}

/* line 446, ../sass/main.scss */
.about-img {
  display: block;
  position: absolute;
  width: 48.80341%;
  bottom: 0;
  left: 0;
}
/* line 453, ../sass/main.scss */
.about-img img {
  position: relative;
  display: block;
  width: 100%;
}

/* line 461, ../sass/main.scss */
.about-descr {
  width: 48.6%;
  float: right;
}

/* line 465, ../sass/main.scss */
.about-descr__title {
  padding-bottom: 17px;
  margin-bottom: 25px;
  position: relative;
}
/* line 469, ../sass/main.scss */
.about-descr__title:after {
  content: '';
  height: 2px;
  width: 100px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background: #39c9da;
}

/* line 481, ../sass/main.scss */
.about-descr__text .base-but, .about-descr__text .base-but-border, .about-descr__text .srv-more {
  margin-top: 15px;
}

/* ****************** Portfolio ****************** */
/* line 486, ../sass/main.scss */
.line_portfolio {
  padding: 56px 0 20px !important;
  background: #f4f4f4;
}

/* line 491, ../sass/main.scss */
.port-items {
  width: 102.5641%;
}

/* line 495, ../sass/main.scss */
.port-item {
  float: left;
  width: 30.83333%;
  margin-right: 2.5%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-bottom: 40px;
}

/* line 504, ../sass/main.scss */
.port-item__img {
  position: relative;
  width: 100%;
  height: auto;
}
/* line 508, ../sass/main.scss */
.port-item__img img {
  display: block;
  position: relative;
  width: 100%;
}
/* line 513, ../sass/main.scss */
.port-item__img:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #4b4a4b;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  z-index: 10;
}
/* line 528, ../sass/main.scss */
.port-item__img .port-item__more {
  top: 50%;
  left: 50%;
  width: 107px;
  height: 20px;
  margin: -25px 0 0 -83.5px;
  position: absolute !important;
  z-index: 20;
  display: none;
}
/* line 537, ../sass/main.scss */
.port-item__img:hover {
  cursor: pointer;
}
/* line 538, ../sass/main.scss */
.port-item__img:hover .port-item__more, .port-item__img:hover:after {
  display: block !important;
}

/* line 545, ../sass/main.scss */
.port-item__info {
  border: 1px solid #e8e8e8;
  border-top: none;
  height: 60px;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  background: white;
  white-space: nowrap;
  word-wrap: normal;
}
/* line 558, ../sass/main.scss */
.port-item__info .post-item__title {
  float: left;
  width: 70%;
  overflow: hidden;
}
/* line 563, ../sass/main.scss */
.port-item__info .post-item__cat {
  float: right;
  width: 29%;
  overflow: hidden;
  text-align: right;
  font-style: italic;
  color: #a8a8a8;
}
/* line 571, ../sass/main.scss */
.port-item__info a {
  line-height: 4.2em;
}

/* ****************** services ****************** */
/* line 578, ../sass/main.scss */
.line_services {
  padding: 45px 0 65px !important;
}

/* line 583, ../sass/main.scss */
.services {
  padding: 8px 0 1px;
}

/* line 586, ../sass/main.scss */
.services .services__item {
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -moz-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  -o-transition-timing-function: ease-in-out, ease-in-out;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out;
  -moz-transition-delay: initial, initial;
  -o-transition-delay: initial, initial;
  -webkit-transition-delay: initial, initial;
  transition-delay: initial, initial;
  width: 23.4364%;
  margin-right: 2.0848%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  background: #ffffff;
  text-align: center;
  color: #504f50;
}
/* line 593, ../sass/main.scss */
.services .services__item:last-child {
  margin: 0;
}
/* line 600, ../sass/main.scss */
.services .services__item .srv-warp {
  border: 1px solid #e2e2e2;
  padding: 25px 15px 17px;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 608, ../sass/main.scss */
.services .services__item .srv-icon i {
  color: #39c9da;
  font-size: 2.35714em;
  line-height: 1.45455em;
  line-height: 1em;
}
/* line 614, ../sass/main.scss */
.services .services__item .srv-title {
  margin: 18px 0 29px;
  padding-bottom: 11px;
  position: relative;
}
/* line 619, ../sass/main.scss */
.services .services__item .srv-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 75px;
  height: 1px;
  background: #a8a8a8;
  bottom: 0;
  margin-left: -35.5px;
  left: 50%;
}
/* line 632, ../sass/main.scss */
.services .services__item .srv-descr p {
  margin-bottom: 27px;
}
/* line 636, ../sass/main.scss */
.services .services__item .srv-more:hover {
  color: #504f50;
}
/* line 640, ../sass/main.scss */
.services .services__item:hover .srv-title:after {
  background: #4b4a4b;
}
/* line 643, ../sass/main.scss */
.services .services__item:hover {
  background: #39c9da;
  color: #fff;
}
/* line 646, ../sass/main.scss */
.services .services__item:hover .srv-icon i {
  color: #fff;
}
/* line 647, ../sass/main.scss */
.services .services__item:hover .srv-title h1 {
  color: #fff;
}
/* line 648, ../sass/main.scss */
.services .services__item:hover .srv-descr p {
  color: #fff;
}

/* line 653, ../sass/main.scss */
.srv-more {
  padding: 11px 27px;
  color: white;
  background: #4b4a4b;
  text-transform: none;
  font-size: 1em;
  line-height: 1.71429em;
  line-height: 1em;
  font-weight: 400;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 664, ../sass/main.scss */
.srv-more:hover {
  background: white;
  color: #4b4a4b;
}

/* ****************** contact us ****************** */
/* line 672, ../sass/main.scss */
.line_contact {
  background: #f4f4f4;
  padding-top: 54px;
}
/* line 675, ../sass/main.scss */
.line_contact .line__descr {
  margin-bottom: 51px;
}

/* line 681, ../sass/main.scss */
.contact-content {
  float: left;
  width: 48.8034%;
}

/* line 687, ../sass/main.scss */
.contact-form {
  float: right;
  width: 48.547%;
}
/* line 692, ../sass/main.scss */
.contact-form .name, .contact-form .mail {
  width: 47.5352%;
}
/* line 695, ../sass/main.scss */
.contact-form .name {
  float: left;
}
/* line 698, ../sass/main.scss */
.contact-form .mail {
  float: right;
}
/* line 701, ../sass/main.scss */
.contact-form .subject, .contact-form textarea {
  width: 100%;
}
/* line 704, ../sass/main.scss */
.contact-form textarea {
  min-height: 150px;
  max-height: 200px;
}
/* line 708, ../sass/main.scss */
.contact-form .sub {
  float: right;
}
/* line 713, ../sass/main.scss */
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
  margin: 5px 0 23px;
}

/* ****************** footer ****************** */
/* line 722, ../sass/main.scss */
footer {
  background: #39c9da;
  height: 50px;
  text-align: center;
  color: #fff;
  padding: 17px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ******************  ****************** */
@media screen and (max-width: 1200px) {
  /* line 736, ../sass/main.scss */
  .base_con_width {
    width: 994px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 741, ../sass/main.scss */
  .base_con_width {
    width: 738px;
  }

  /* line 745, ../sass/main.scss */
  header, .header_scroll {
    visibility: hidden;
    opacity: 0;
  }

  /* line 750, ../sass/main.scss */
  .open-but {
    display: block;
  }

  /* line 753, ../sass/main.scss */
  .fa {
    display: inline-block;
  }

  /* line 757, ../sass/main.scss */
  .services .srv-title h1 {
    font-size: 1.14286em;
    line-height: 1.5em;
  }

  /* line 762, ../sass/main.scss */
  .port-item__info .post-item__title {
    font-size: 0.85714em;
    line-height: 2em;
    line-height: 5em;
    width: 60%;
  }

  /* line 767, ../sass/main.scss */
  .port-item__info .post-item__cat {
    width: 39%;
  }
}
@media screen and (max-width: 768px) {
  /* line 772, ../sass/main.scss */
  .base_con_width {
    width: 90%;
  }

  /* line 777, ../sass/main.scss */
  .header-title {
    font-size: 2em;
    line-height: 1.71429em;
    width: auto;
  }

  /* line 781, ../sass/main.scss */
  .line_top {
    padding: 145px 0 100px 0 !important;
  }

  /* line 786, ../sass/main.scss */
  .about-img {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 792, ../sass/main.scss */
  .about-descr {
    width: 100%;
    float: none;
  }

  /* line 798, ../sass/main.scss */
  .port-items {
    width: 103%;
  }

  /* line 801, ../sass/main.scss */
  .port-item {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 30px;
  }

  /* line 808, ../sass/main.scss */
  .services {
    padding: 8px 0 1px;
    width: 103%;
    overflow: visible;
  }

  /* line 813, ../sass/main.scss */
  .services .services__item {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 20px;
  }

  /* line 820, ../sass/main.scss */
  .contact-content, .contact-form {
    float: none;
    width: 100%;
  }

  /* line 824, ../sass/main.scss */
  .contact-content {
    margin-bottom: 20px;
  }

  /* line 829, ../sass/main.scss */
  .line__descr span {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 836, ../sass/main.scss */
  .port-items {
    width: 100%;
  }

  /* line 839, ../sass/main.scss */
  .port-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* line 846, ../sass/main.scss */
  .services {
    padding: 8px 0 1px;
    width: 100%;
    overflow: visible;
  }

  /* line 851, ../sass/main.scss */
  .services .services__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* line 858, ../sass/main.scss */
  .contact-form .name, .contact-form .mail {
    width: 100%;
    float: none;
  }
}
